*{
  margin: 0;
  padding: 0;
}
.card{
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.233) 0px 4px 12px;
  padding: 10px;
  border-radius: 30px;
  margin: 20px;
}
img{
  width: 394px;
  height: 280px;
  border-radius: 30px;
}